modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Admin Dashboard"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/api-server && PORT=3000 pnpm run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Admin Dashboard"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/admin-dashboard && PORT=5173 BASE_PATH=/ pnpm run dev"
waitForPort = 5173

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
MPESA_ENV = "sandbox"
ADMIN_EMAIL = "bgithinji27@gmail.com"
ADMIN_PASSWORD_HASH = "$2b$12$CujWhphTNCv2nsvvBDeyeew./mUdfGdQ6F6/Oum9FebTCPFh6oavm"
ADMIN_JWT_SECRET = "2d565a320e8f88ffd36c28be039efcdfceddefc6eb68696fa16b37746e4a2e781441398e82300b5b9586cd4d67155194"
