modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["bash", "-c", "node artifacts/api-server/dist/index.mjs"]
build = ["bash", "-c", "pnpm install && pnpm --filter @workspace/admin-dashboard run build && pnpm --filter @workspace/api-server run build"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
MPESA_ENV = "sandbox"
ADMIN_EMAIL = "bgithinji27@gmail.com"
ADMIN_PASSWORD_HASH = "$2b$12$CujWhphTNCv2nsvvBDeyeew./mUdfGdQ6F6/Oum9FebTCPFh6oavm"
ADMIN_JWT_SECRET = "2d565a320e8f88ffd36c28be039efcdfceddefc6eb68696fa16b37746e4a2e781441398e82300b5b9586cd4d67155194"
TELEGRAM_CHANNEL_ID = "-1004396008121"
PAYMENT_BYPASS = "true"
VITE_BOT_USERNAME = "Firebix_bot"
VITE_VIDSRC_API_URL = "https://cinevault-vidsrc.vercel.app"
TELEGRAM_UPLOAD_WORKERS = "4"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[nix]
channel = "stable-25_05"
